<section class="shared__card-container shared__row shared__row--white h-entry" id="additional-savings-accounts">
	
	
	
	<div class="shared__wrapper shared__rhythm--large shared__padding--vertical-medium">
		



	<small class="shared__heading shared__heading--h6 shared__heading--bold shared__heading--section shared__heading--grass shared__heading--uppercase">Additional savings accounts</small>
	<h2 class="shared__heading shared__heading--h1 shared__heading--section">Other accounts to help you save</h2>

		<div class="shared__wrapper shared__wrapper--small shared__rhythm--default">
				<div class="shared__rich-text p-summary ">
After opening a primary savings account, Everence Federal Credit Union offers a variety of savings products to churches and congregations.				</div>
		</div>
		

<div class="shared__card-list shared__card-list--4-cols">


	<article class="shared__card shared__bg-color--sky h-entry">
		<div class="shared__card__body shared__card__body--default shared__card--has-padding--default">
				<h3 class="shared__heading shared__heading--h3 shared__heading--navy p-name shared__rich-text">Certificates</h3>
							<div class="shared__rich-text p-description">
Everence Federal Credit Union has certificates available in maturities from six to 60 months with minimum balances of $500 to $100,000. Dividends are compounded quarterly. As with most certificates, penalties apply for early withdrawal.				</div>
							<footer class="shared__button--group">
					<a class="shared__button shared__button--default shared__button--size-small shared__button--link u-url" title="Learn more" href="https://www.everence.com/banking/personal-checking-and-savings/personal-savings/certificates">Learn more</a>
					
				</footer>
		</div>
	</article>


	<article class="shared__card shared__bg-color--sky h-entry">
		<div class="shared__card__body shared__card__body--default shared__card--has-padding--default">
				<h3 class="shared__heading shared__heading--h3 shared__heading--navy p-name shared__rich-text">Club accounts</h3>
							<div class="shared__rich-text p-description">
In addition to a primary savings account, churches can set up club accounts and have them customized to your church needs. Churches may set up as many club accounts as they wish, for such things as children's departments, trustees, youth groups and other ministries. Club accounts do not have monthly maintenance fees and accounts above $50 accrue dividends.				</div>
					</div>
	</article>


	<article class="shared__card shared__bg-color--sky h-entry">
		<div class="shared__card__body shared__card__body--default shared__card--has-padding--default">
				<h3 class="shared__heading shared__heading--h3 shared__heading--navy p-name shared__rich-text">Business money markets</h3>
							<div class="shared__rich-text p-description">
Our business money market account<sup>1</sup>&nbsp;earns dividends with limited check-writing privileges. There is no monthly fee if the daily balance does not fall below $10,000. You will receive six free checks or withdrawals each month. Fees apply to additional withdrawals.<sup>2</sup>&nbsp;				</div>
							<footer class="shared__button--group">
					<a class="shared__button shared__button--default shared__button--size-small shared__button--link u-url" href="https://www.everence.com/banking/business-banking-and-loans/business-savings">Learn more</a>
					
				</footer>
		</div>
	</article>


	<article class="shared__card shared__bg-color--sky h-entry">
		<div class="shared__card__body shared__card__body--default shared__card--has-padding--default">
				<h3 class="shared__heading shared__heading--h3 shared__heading--navy p-name shared__rich-text">Simplified employee pension</h3>
							<div class="shared__rich-text p-description">
In addition to individual retirement accounts (IRAs) – traditional, Roth, and educational – Everence Federal Credit Union  offers simplified employee pension (SEP) plan accounts<sup>3</sup> for churches wanting this service for their employees.				</div>
					</div>
	</article>
</div>

	</div>
</section>