<section class="shared__card-container shared__row shared__row--navy shared__bg-color--dark h-entry" id="community-impact">
	
	
	
	<div class="shared__wrapper shared__rhythm--large shared__padding--vertical-medium">
		



	<h2 class="shared__heading shared__heading--h1 shared__heading--section heading--section">Community impact</h2>

		<div class="shared__wrapper shared__wrapper--small shared__rhythm--default">
				<div class="shared__rich-text p-summary shared__txt-color--white">
Together, we empower financial well-being for faith-inspired living. We believe our financial service are about more than making a profit. See the highlights below of how Everence and Everence members and clients made a difference in our communities.				</div>
		</div>
		

<div class="shared__card-list shared__card-list--4-cols">

		{% if page.impact and page.impact.length %}

  {% for item in page.impact %}

<article class="shared__card shared__card--icon shared__bg-color--stone shared__align--center h-entry">
	<header class="shared__card__header shared__card__header--default shared__card--has-padding--default">
		<figure class="shared__icon--card">
			
			<svg class="shared__icon shared__icon--shared__heart-in-a-hand shared__icon--size-extra-large  shared__icon--color-grass" aria-labelledby="title--shared__heart-in-a-hand" role="img"><title id="title--shared__heart-in-a-hand" lang="en">heart-in-a-hand</title><use xlink:href="#icon-shared__heart-in-a-hand"></use></svg>
		</figure>
	</header>
	<div class="shared__card__body shared__card__body--default shared__card--has-padding--default">
		<h3 class="shared__heading shared__heading--h3 shared__heading--navy p-name">${{ item.fields.dollarvalue }}</h3>
			<div class="shared__rich-text p-description">
                    {{ item.fields.description }}
	</div>
			</div>
</article>
  {% endfor %}
  {% endif %}


</section>