
<section role="region" aria-label="Disclaimer" class="shared__row shared__disclaimer shared__bg-color--khaki shared__text-align--left">
<div class="shared__wrapper shared__rhythm--large shared__padding--vertical-medium">
		<h2 class="shared__heading shared__heading--h6 shared__heading--bold shared__heading--section-dark shared__heading--uppercase">DisCLOSUREs</h2>
				<div class="shared__rich-text">
					<p>Representatives are all licensed insurance agents of Everence.</p>
<p>Insurance products are offered by Everence, the marketing name of Everence Association Inc., a fraternal benefit society, 1110 N. Main St., PO Box 483, Goshen, IN 46527. </p>
<p>Medicare supplement insurance plans offered by<strong> Everence Association Inc., a fraternal benefit society</strong>, are not available in all states, and are not connected with or endorsed by the U.S. government or the federal Medicare program. This is a solicitation of insurance and an insurance agent or insurance company may contact you in an attempt to sell you insurance.</p>
<p style="font-size: larger;"><strong>All Medicare supplement standardized plans are offered to Medicare qualified individuals due to disability regardless of age.</strong>&nbsp;&nbsp;</p>
<p>2230750</p>
<p>
</p>
				</div>
	</div></section>