<div class="shared__wrapper shared__wrapper--medium shared__padding--vertical-medium">
		

<form class="lead-collection-form lead-collection-form--default" id="contact-form{7C95AFC5-38FB-43AF-8A2D-B48A447EB252}" method="post" data-debug="yes" novalidate="novalidate">
	<fieldset class="shared__form__fieldset" id="lead-collection-form">
		<div class="shared__form-input shared__form-input--default shared__form-input--validation-stack shared__form-field">
			<input type="hidden" id="input--3330" class="shared__form-input__field shared__native-field" name="form-id" value="form-c">
			<div class="shared__form-input--error shared__form-input--error--default shared__form-input--error-container">
				<div class="shared__alert--inline shared__alert--inline-error shared__visually-hidden default--messaging" data-error-id="3330--error">
					<svg class="shared__icon shared__icon--shared__alert-error--circle shared__icon--size-default shared__icon--color-default shared__icon--position-text-after shared__alert--inline__icon--stack" aria-labelledby="title--shared__alert-error--circle" role="img">
						<title id="title--shared__alert-error--circle" lang="en">shared__alert-error--circle</title>
						<use href="#icon-shared__alert-error--circle"></use>
					</svg>
					<p>This field is required</p>
				</div>
				<div class="shared__alert--inline shared__alert--inline-success shared__visually-hidden default--messaging" data-error-id="3330--success">
					<svg class="shared__icon shared__icon--shared__alert-success--circle shared__icon--size-default shared__icon--color-default shared__icon--position-text-after shared__alert--inline__icon--stack" aria-labelledby="title--shared__alert-success--circle" role="img">
						<title id="title--shared__alert-success--circle" lang="en">shared__alert-success--circle</title>
						<use href="#icon-shared__alert-success--circle"></use>
					</svg>
					<p></p>
				</div>
			</div>
		</div>
		<input id="ItemId" name="ItemId" type="hidden" value="{10000000-4444-4444-4444-000000000001}">
		<input id="endpoint" name="endpoint" type="hidden" value="/api/contact/send">
		<legend class="shared__form__legend shared__form__legend--default shared__visually-hidden">Lead collection form</legend>
			<h2 class="shared__heading shared__heading--h2 shared__align--center">Email our team</h2>
			<p>Send us a message! We’ll get back to you within two business days.</p>
		<div class="shared__alert--content shared__alert--content-error shared__alert--hidden lead-collection-form--error">Please correct the issues below to continue..</div>
		<div class="shared__alert--content shared__alert--content-success shared__alert--hidden lead-collection-form--success">Your message was successfully sent!</div>
		<div class="shared__card shared__card--shadow shared__bg-color--white shared__card--has-padding--default lead-collection-form--wrapper">
			<div class="shared__card__body shared__card__body--default">
				<div class="shared__loading-overlay "><img src="/project.shared/assets/img/loading.svg" alt="Loading..." loading="lazy"></div>
				<div class="shared__flex--align-items--start">
					<ul class="shared__list shared__list--blank shared__list--form">
						<li class="shared__form-input shared__form-input--default shared__form-input--validation-stack shared__form-field">
							<label for="input--51245" class="shared__form-input__label ">Your full name<abbr role="presentation" class="required" title="required">*</abbr></label>
							<input type="text" id="input--51245" class="shared__form-input__field shared__native-field" required="" name="FromName" aria-required="true" aria-invalid="false">
							<div class="shared__form-input--error shared__form-input--error--default shared__form-input--error-container">
								<div class="shared__alert--inline shared__alert--inline-error shared__visually-hidden default--messaging" data-error-id="51245--error">
									<svg class="shared__icon shared__icon--shared__alert-error--circle shared__icon--size-default shared__icon--color-default shared__icon--position-text-after shared__alert--inline__icon--stack" aria-labelledby="title--shared__alert-error--circle" role="img">
										<title id="title--shared__alert-error--circle" lang="en">shared__alert-error--circle</title>
										<use href="#icon-shared__alert-error--circle"></use>
									</svg>
									<p> Full name is required</p>
								</div>
								<div class="shared__alert--inline shared__alert--inline-success shared__visually-hidden default--messaging" data-error-id="51245--success">
									<svg class="shared__icon shared__icon--shared__alert-success--circle shared__icon--size-default shared__icon--color-default shared__icon--position-text-after shared__alert--inline__icon--stack" aria-labelledby="title--shared__alert-success--circle" role="img">
										<title id="title--shared__alert-success--circle" lang="en">shared__alert-success--circle</title>
										<use href="#icon-shared__alert-success--circle"></use>
									</svg>
									<p></p>
								</div>
							</div>
						</li>
						<li class="shared__form-input shared__form-input--default shared__form-input--validation-stack shared__form-field">
							<label for="input--35260" class="shared__form-input__label ">Your email address <abbr role="presentation" class="required" title="required">*</abbr></label>
							<input type="email" id="input--35260" class="shared__form-input__field shared__native-field" required="" name="FromEmail" placeholder="you@example.com" aria-required="true" aria-invalid="false">
							<div class="shared__form-input--error shared__form-input--error--default shared__form-input--error-container">
								<div class="shared__alert--inline shared__alert--inline-error shared__visually-hidden default--messaging" data-error-id="35260--error">
									<svg class="shared__icon shared__icon--shared__alert-error--circle shared__icon--size-default shared__icon--color-default shared__icon--position-text-after shared__alert--inline__icon--stack" aria-labelledby="title--shared__alert-error--circle" role="img">
										<title id="title--shared__alert-error--circle" lang="en">shared__alert-error--circle</title>
										<use href="#icon-shared__alert-error--circle"></use>
									</svg>
									<p>Email address missing or incorrect format</p>
								</div>
								<div class="shared__alert--inline shared__alert--inline-success shared__visually-hidden default--messaging" data-error-id="35260--success">
									<svg class="shared__icon shared__icon--shared__alert-success--circle shared__icon--size-default shared__icon--color-default shared__icon--position-text-after shared__alert--inline__icon--stack" aria-labelledby="title--shared__alert-success--circle" role="img">
										<title id="title--shared__alert-success--circle" lang="en">shared__alert-success--circle</title>
										<use href="#icon-shared__alert-success--circle"></use>
									</svg>
									<p></p>
								</div>
							</div>
						</li>
						<li class="shared__form-input shared__form-input--default shared__form-input--validation-stack shared__form-field">
							<label for="input--43513" class="shared__form-input__label ">Subject <abbr role="presentation" class="required" title="required">*</abbr></label>
							<input type="text" id="input--43513" class="shared__form-input__field shared__native-field" required="" name="Subject" aria-required="true" aria-invalid="false">
							<div class="shared__form-input--error shared__form-input--error--default shared__form-input--error-container">
								<div class="shared__alert--inline shared__alert--inline-error shared__visually-hidden default--messaging" data-error-id="43513--error">
									<svg class="shared__icon shared__icon--shared__alert-error--circle shared__icon--size-default shared__icon--color-default shared__icon--position-text-after shared__alert--inline__icon--stack" aria-labelledby="title--shared__alert-error--circle" role="img">
										<title id="title--shared__alert-error--circle" lang="en">shared__alert-error--circle</title>
										<use href="#icon-shared__alert-error--circle"></use>
									</svg>
									<p>Subject is required</p>
								</div>
								<div class="shared__alert--inline shared__alert--inline-success shared__visually-hidden default--messaging" data-error-id="43513--success">
									<svg class="shared__icon shared__icon--shared__alert-success--circle shared__icon--size-default shared__icon--color-default shared__icon--position-text-after shared__alert--inline__icon--stack" aria-labelledby="title--shared__alert-success--circle" role="img">
										<title id="title--shared__alert-success--circle" lang="en">shared__alert-success--circle</title>
										<use href="#icon-shared__alert-success--circle"></use>
									</svg>
									<p></p>
								</div>
							</div>
						</li>
						<li class="shared__form-textarea shared__form-textarea--default shared__form-textarea--resize shared__form-field shared__lead-collection-form--textarea">
							<label for="textarea--82598" class="shared__form-input__label ">Message <abbr role="presentation" class="required" title="required">*</abbr></label>
							<textarea id="textarea--82598" aria-describedby="82598--error textarea-note--82598" class="shared__form-textarea__field shared__native-field" pattern=".*[^ ].*" required="" name="MessageBody" rows="4" aria-required="true" aria-invalid="false"></textarea>
							<div class="shared__form__textarea--error shared__form__textarea--error--default shared__form__textarea--error-container shared__lead-collection-form--textarea">
								<div class="shared__alert--inline shared__alert--inline-error shared__visually-hidden" data-error-id="82598--error">
									<svg class="shared__icon shared__icon--shared__alert-error--circle shared__icon--size-default shared__icon--color-default shared__icon--position-text-after shared__alert--inline__icon--stack" aria-labelledby="title--shared__alert-error--circle" role="img">
										<title id="title--shared__alert-error--circle" lang="en">shared__alert-error--circle</title>
										<use href="#icon-shared__alert-error--circle"></use>
									</svg>
									<p>Message is required</p>
								</div>
								<div class="shared__alert--inline shared__alert--inline-success shared__visually-hidden" data-error-id="82598--success"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<footer class="shared__card__footer shared__card__footer--default">
				<button class="shared__button shared__button--default">Send Message</button>
			</footer>
				<div class="shared__rich-text">
					<small><small>By sending this message, I am authorizing your agency to contact me at the email address I've provided regarding matters related to me and/or my family, even if I have previously registered on a Do Not Call registry. If I want to withdraw this authorization, I may do so at any time by submitting a request in writing.</small></small>
				</div>
		</div>
	</fieldset>
</form>

	</div>