<section class="shared__card-container shared__row shared__row--white h-entry" id="featured-articles">
<div class="shared__wrapper shared__rhythm--large shared__padding--vertical-medium">
		
	<h2 class="shared__heading shared__heading--h1 shared__heading--section heading--section">Featured articles</h2>

		<div class="shared__wrapper shared__wrapper--small shared__rhythm--default">
		</div>
		

<div class="shared__card-list shared__card-list--3-cols">
		{% if page.articles and page.articles.length %}
  {% for item in page.articles %}


<article class="shared__card shared__card--has-border__color--robin shared__card--has-border__size--double shared__bg-color--stone h-entry">
		<figure class="shared__card__figure">
			<img src="{{ item.fields.image.fields.file.url }}" class="shared__image shared__image--auto">
		</figure>
	<div class="shared__card__body shared__card__body--default shared__card--has-padding--default">
		
				<small class="shared__heading shared__heading--h6 shared__heading--bold shared__heading--uppercase p-category">{{ item.fields.category }}</small>				
				<h3 class="shared__heading shared__heading--h4 shared__heading--bold p-name">
					{{ item.fields.title }}
				</h3>
				<h6 class="shared__heading shared__heading--h6 shared__heading--bold p-author">
					By
Sharon Hernandez				</h6>
				<p class="p-description">{{ item.fields.description }}</p>
					<a class="shared__button shared__button--default-transparent u-url shared__button--link" href="{{ item.fields.cta }}">Read article</a>
	</div>
		<footer class="shared__card__footer shared__card__footer--default shared__card--has-border__top">
			<p class="shared__meta">
				<strong>Published: </strong>
				<time class="dt-published" datetime="11/20/2025 5:00:00 AM">{{ item.fields.date }}</time>
			</p>
		</footer>
</article>
 {% endfor %}
  {% endif %}

</div>

	</div>

	</section>