<footer role="contentinfo" class="shared__global-footer">
	<div class="shared__wrapper shared__padding">
		<div class="shared__global-footer__section--brand">
			<a href="/" class="shared__brand shared__brand--default shared__brand--link" title="Everence home page">
				<img src="/project.shared/assets/img/shared__everence-logo.svg" loading="lazy" alt="Everence logo" width="220" height="47">
			</a>
		</div>
		<div class="shared__grid shared__grid--auto-fit">
			<div class="shared__global-footer__divider--top">
				<h2 class="shared__heading shared__heading--h6 shared__heading--bold shared__heading--uppercase">Contact us</h2>
				<ul class="shared__list shared__list--stacked">
					



<li class="shared__list__item">
		<a href="tel:8003487468" class="shared__link shared__link--default shared__heading--h3 p-tel">(800) 348-7468</a>
</li>



<li class="shared__list__item">
		<a class="shared__link shared__link--default" href="mailto:info@everence.com" title="info@everence.com" target="_blank">info@everence.com</a>
</li>



				</ul>
				<div class="shared__social-share shared__social-share--default">
					







	<a href="https://www.facebook.com/Everence" title="Like us on Facebook" target="_blank" rel="nofollow noopener" class="shared__link shared__link--default shared__icon--circle shared__icon--circle-royal">
		<svg class="shared__icon shared__icon--shared__facebook shared__icon--size-default shared__icon--color-royal" aria-labelledby="title--shared__facebook" role="img">
			<title id="title--shared__facebook" lang="en">Like us on Facebook</title>
			<use xlink:href="#icon-shared__facebook"></use>
		</svg>
	</a>







	<a href="https://twitter.com/Everence" title="Follow us on Twitter" target="_blank" rel="nofollow noopener" class="shared__link shared__link--default shared__icon--circle shared__icon--circle-royal">
		<svg class="shared__icon shared__icon--shared__twitter shared__icon--size-default shared__icon--color-royal" aria-labelledby="title--shared__twitter" role="img">
			<title id="title--shared__twitter" lang="en">Follow us on Twitter</title>
			<use xlink:href="#icon-shared__twitter"></use>
		</svg>
	</a>







	<a href="https://www.youtube.com/user/EverenceInc" title="Watch our YouTube Channel" target="_blank" rel="nofollow noopener" class="shared__link shared__link--default shared__icon--circle shared__icon--circle-royal">
		<svg class="shared__icon shared__icon--shared__youtube shared__icon--size-default shared__icon--color-royal" aria-labelledby="title--shared__youtube" role="img">
			<title id="title--shared__youtube" lang="en">Watch our YouTube Channel</title>
			<use xlink:href="#icon-shared__youtube"></use>
		</svg>
	</a>







	<a href="https://www.linkedin.com/company/everence-financial-services" title="Connect with us on LinkedIn" target="_blank" rel="nofollow noopener" class="shared__link shared__link--default shared__icon--circle shared__icon--circle-royal">
		<svg class="shared__icon shared__icon--shared__linkedin shared__icon--size-default shared__icon--color-royal" aria-labelledby="title--shared__linkedin" role="img">
			<title id="title--shared__linkedin" lang="en">Connect with us on LinkedIn</title>
			<use xlink:href="#icon-shared__linkedin"></use>
		</svg>
	</a>







	<a href="https://www.instagram.com/everencefinancial/" title="Follow us on Instagram" target="_blank" rel="nofollow noopener" class="shared__link shared__link--default shared__icon--circle shared__icon--circle-royal">
		<svg class="shared__icon shared__icon--shared__instagram shared__icon--size-default shared__icon--color-royal" aria-labelledby="title--shared__instagram" role="img">
			<title id="title--shared__instagram" lang="en">Follow us on Instagram</title>
			<use xlink:href="#icon-shared__instagram"></use>
		</svg>
	</a>





				</div>
				<ul class="shared__list shared__list--stacked shared__global-footer__divider--top">
					





<li class="shared__list__item">
<a href="https://www.everence.com/locations-and-atms" title="Find Everence locations and ATMs" class="shared__link shared__link--default">Locations &amp; ATMs</a></li>



<li class="shared__list__item">
<a href="https://www.everence.com/resources/corporate/contact-us" class="shared__link shared__link--default">Other ways to contact us</a></li>



				</ul>
			</div>
			<div class="shared__global-footer__divider--top">
				<h2 class="shared__heading shared__heading--h6 shared__heading--bold shared__heading--uppercase">About Everence</h2>
				<ul class="shared__list shared__list--stacked">
					





<li class="shared__list__item">
<a href="https://www.everence.com/about-everence/who-we-are" title="Who we are" class="shared__link shared__link--default">Who we are</a></li>



<li class="shared__list__item">
<a href="https://www.everence.com/about-everence/who-we-serve" class="shared__link shared__link--default">Who we serve</a></li>



<li class="shared__list__item">
<a href="https://www.everence.com/about-everence/everence-leadership" title="Everence leadership" class="shared__link shared__link--default">Leadership</a></li>



<li class="shared__list__item">
<a href="https://www.everence.com/about-everence/become-a-member" title="Become a member" class="shared__link shared__link--default">Become a member</a></li>



<li class="shared__list__item">
<a href="https://www.everence.com/about-everence/annual-report-2024" title="Annual report" class="shared__link shared__link--default">Annual report</a></li>



<li class="shared__list__item">
<a href="https://www.everence.com/about-everence/careers" title="Careers" class="shared__link shared__link--default">Careers</a></li>



<li class="shared__list__item">
<a href="https://www.everence.com/about-everence/careers/internships" title="Internships" class="shared__link shared__link--default">Internships</a></li>



<li class="shared__list__item">
<a href="https://www.everence.com/everence-articles/articles-and-stories" title="Everence articles" class="shared__link shared__link--default">News</a></li>



<li class="shared__list__item">
<a href="https://www.everence.com/resources/corporate/holiday-schedule" class="shared__link shared__link--default">Holiday schedule</a></li>



				</ul>
			</div>
			<div class="shared__global-footer__divider--top">
				<h2 class="shared__heading shared__heading--h6 shared__heading--bold shared__heading--uppercase">Resources</h2>
				<ul class="shared__list shared__list--stacked">
					





<li class="shared__list__item">
<a href="https://www.everence.com/resources/banking-and-financial-forms" title="Banking and financial services forms" class="shared__link shared__link--default">Banking and financial services forms</a></li>



<li class="shared__list__item">
<a href="https://www.everence.com/resources/health-plan-providers-and-resources" class="shared__link shared__link--default">Health insurance</a></li>



<li class="shared__list__item">
<a href="https://www.everence.com/resources/stewardship-education" class="shared__link shared__link--default">Congregational stewardship education</a></li>



<li class="shared__list__item">
<a href="https://www.everence.com/resources/pastors-and-church-leaders" class="shared__link shared__link--default">Pastor resources</a></li>



<li class="shared__list__item">
<a href="https://www.everence.com/resources/everence-stewardship-partners" title="Everence Stewardship Partners" class="shared__link shared__link--default">Everence Stewardship Partners</a></li>



<li class="shared__list__item">
<a href="https://www.everence.com/resources/church-finance-manual" title="Congregational Stewardship Resource Manual" class="shared__link shared__link--default">Congregational Stewardship Resource Manual</a></li>



<li class="shared__list__item">
<a href="https://www.everence.com/resources/smart-living-simple-money-podcast" title="Smart Living, Simple Money podcast" class="shared__link shared__link--default">Smart Living, Simple Money podcast</a></li>



				</ul>
			</div>
			<ul class="shared__list shared__list--divider-small">
				






			<li>
				<a href="https://www.everence.com/en-espanol" title="En español" class="shared__link shared__link--default">En español</a>
				<p>Everence ayuda a individuos, organizaciones y congregaciones a integrar las finanzas con la fe.</p>
			</li>




			<li>
				<a href="https://www.praxisinvests.com" rel="nofollow noopener" title="Praxis Investment Management" class="shared__link shared__link--default" target="_blank">Praxis Investment Management</a>
				<p>Praxis Investment Management is an Everence company.</p>
			</li>



			</ul>
		</div>
	</div>
	<div class="shared__row shared__bg-color--stone" role="region">
		<div class="shared__wrapper shared__padding">
			<div class="shared__grid shared__grid--2-cols">
				<div class="shared__rhythm--default">
						<div class="shared__rich-text ">
		<p>Everence offers credit union products that are federally insured by NCUA. Investments and other products are not NCUA or otherwise federally insured, may involve loss of principal and have no credit union guarantee. Some Everence products and services may not be available in your state.</p>
<p class="shared__global-footer__copyright">©&nbsp;2025 Everence. View our <a href="https://www.everence.com/resources/corporate/everence-privacy-policy" title="Everence privacy and web policy">Everence privacy and web policy</a>&nbsp;| <a href="https://www.everence.com/resources/corporate/everence-federal-credit-union-online-privacy-and-security">Everence Federal Credit Union privacy policy</a>&nbsp;| <a rel="nofollow noopener" href="https://docs.everence.com/SDocLink/f01e2d4f-9f27-4a3a-a993-ac389b93b3bc" target="_blank" title="Everence Federal Credit Union bylaws">Everence Federal Credit Union bylaws</a>.</p>
<style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 10.0px Helvetica; color: #606060}
</style>
	</div>

				</div>
				<div class="shared__align--bottom">
					

	<a href="https://portal.hud.gov/hudportal/HUD    " title="Equal Housing Lender" target="_blank">
		<img src="/-/media/everence/logos/regulatory/equal-housing-lender.png?h=80&amp;iar=0&amp;w=78&amp;hash=A78C1AAFC9335E8A0B16FDDE1828432A" class="shared__image shared__image--default" alt="Equal Housing Lender logo">
	</a>
	<a href="https://www.mycreditunion.gov/" title="NCUA" target="_blank">
		<img src="/-/media/everence/logos/regulatory/ncua.png?h=55&amp;iar=0&amp;w=117&amp;hash=22BD717680F6D031C553D842B8318F47" class="shared__image shared__image--default" alt="National Credit Union Administration logo">
	</a>
	<a href="https://brokercheck.finra.org/" title="BrokerCheck" target="_blank">
		
	</a>

				</div>
			</div>
		</div>
	</div>
</footer>