<div class="shared__card-list shared__card-list--auto-fill--centered">



<article class="shared__card shared__card--feature shared__bg-color--stone h-entry">
	<figure class="shared__card__header shared__card__header--cover shared__bg-color--white">
		<img src="https://www.everence.com/-/media/everence/banking/youth-rewards/17_full_family_kitchen_0022_3_simp_ar.jpg?mh=372&mw=660&hash=1C64B49459ABE84F6F91532537959C35&" srcset="/-/media/everence/banking/youth-rewards/17_full_family_kitchen_0022_3_simp_ar.jpg?mh=245&amp;mw=435&amp;hash=2549FE71338A9C096385B98C708858D4&amp; 435w, /-/media/everence/banking/youth-rewards/17_full_family_kitchen_0022_3_simp_ar.jpg?mh=346&amp;mw=615&amp;hash=BBB7AA787AFA783CB811D840255C3058&amp; 615w, /-/media/everence/banking/youth-rewards/17_full_family_kitchen_0022_3_simp_ar.jpg?mh=372&amp;mw=660&amp;hash=1C64B49459ABE84F6F91532537959C35&amp; 660w" sizes="(max-width: 1320px) 435px, 615px, 660px" alt="Family around kitchen island looking at phone and debit card." class="shared__image shared__image--cover u-photo" loading="lazy">
	</figure>
<div class="shared__card__body shared__card__body--default shared__card--has-padding--large shared__decor--blue-green shared__align--middle">
	<header>
		<h3 class="shared__heading shared__heading--h3 shared__heading--bold p-name">
			Join Greenlight – On Us
		</h3>
	</header>
		<div class="shared__rich-text p-description"><p>As an Everence Federal Credit Union member with a checking account, you have access the Greenlight SELECT plan for free<sup>3</sup>, empowering the children in your life to learn essential money management skills.</p></div>
			<div class="shared__button--group">
			<a class="shared__button shared__button--default-transparent shared__button--size-small u-url shared__button--link" href="https://www.everence.com/banking/everence-youth-program/greenlight-app-debit-card">Learn more about Greenlight</a>
			
		</div>
	</div>
</article>
</div>