<div class="shared__card-list shared__card-list--auto-fill--centered">


        {% if page.joingreenland.fields %}

<article class="shared__card shared__card--feature shared__bg-color--stone h-entry">
	<figure class="shared__card__header shared__card__header--cover shared__bg-color--white">
		<img src="{{ page.joingreenland.fields.image.fields.file.url }}" class="shared__image shared__image--cover u-photo" >
	</figure>
<div class="shared__card__body shared__card__body--default shared__card--has-padding--large shared__decor--blue-green shared__align--middle">
	<header>
		<h3 class="shared__heading shared__heading--h3 shared__heading--bold p-name">
			{{page.joingreenland.fields.title}}
		</h3>
	</header>
		<div class="shared__rich-text p-description"><p>{{page.joingreenland.fields.description}}</p></div>
			<div class="shared__button--group">
			<a class="shared__button shared__button--default-transparent shared__button--size-small u-url shared__button--link" href="https://www.everence.com/banking/everence-youth-program/greenlight-app-debit-card">Learn more about Greenlight</a>
			
		</div>
	</div>
</article>
  {% endif %}

</div>