{% extends "layouts/base.njk" %}

{% block title %}Home{% endblock %}


{% block content %}
  {% include "components/StoryCard.njk" %}
  {% include "components/EmailourTeamForm.njk" %}
  {% include "components/DailyNav.njk" %}
{% endblock %}




