{% extends "layouts/base.njk" %}

{% block title %}Home{% endblock %}


{% block content %}
  <h1>Hello Contentful</h1>
  {% include "components/herobanner.njk" %}   
  {% include "components/FeatureArticle.njk" %}
  {% include "components/StoryCard.njk" %}
  {% include "components/EmailourTeamForm.njk" %}
  {% include "components/DailyNav.njk" %}
{% endblock %}




