{% extends "layouts/base.njk" %}


{% block content %}
  {% include "components/herobanner.njk" %}   
  {% include "components/FeatureArticle.njk" %}
  {% include "components/StoryCard.njk" %}
  {% include "components/EmailourTeamForm.njk" %}
  {% include "components/DailyNav.njk" %}
   {% include "components/communityImpact.njk" %}
  {% include "components/connectwithus.njk" %}
    {% include "components/Disclosure.njk" %}
     {% include "components/additionalSaving.njk" %}
    {% include "components/footer.njk" %}
{% endblock %}




